#carousel {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 500px;
}

.carousel-item {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: #4854ffcc;
}

.carousel-item:nth-child(1) {
    top: 100px; /* = (#carousel:width - .carousel-item:width) / $(".carousel-item").length */
    left: 100px;
}

.carousel-item:nth-child(2) {
    top: 50px;
    left: 50px;
}

.carousel-item:nth-child(3) {
    top: 0px;
    left: 0px;
}